@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&family=Poppins:ital,wght@1,400;1,700;1,800&display=swap');

// font-family: 'Libre Franklin', sans-serif;
// font-family: 'Poppins', sans-serif;

$mobileSise: 375px;
$desktopSize: 1440px;

$purple: hsl(259, 100%, 65%);
$lightRed: hsl(0, 100%, 67%);
$White: hsl(0, 0%, 100%);

$offWhite: hsl(0, 0%, 94%);
$LightGrey: hsl(0, 0%, 86%);
$smokeyGrey: hsl(0, 1%, 44%);
$offBlack: hsl(0, 0%, 8%);

$fontSizeInputs: 32px;
